.cart {
    width: 100vw;
    height: auto;
}
.cart-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-bottom: 100px;
}
.product-image {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}
.del-icon {
    cursor: pointer;
}
.del-icon:hover {
    color: rgb(255, 0, 0);
}
.cart-count-btn {
    padding: 0.8rem 1.1rem;
}
.counter-btn {
    background-color: transparent;
}