.app-hero {
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}
.hero-image {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.hero-description-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(0, 0, 0, 0.001);
    border: none;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    z-index: 10;
    height: auto;
}
.home-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.desc-text {
    display: flex;
    font-size: 20px;
    margin: 0;
}
.desc-description {
    display: flex;
    font-size: 15px;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.hero-carousel::-webkit-scrollbar {
    display: none;
}
