.login-page {
    width: 100vw;
    height: auto;
    background-color: transparent;
    padding-top: 200px;
    padding-bottom: 100px;
}
.login-header {
    text-shadow: 8px 3px 11px rgba(0, 0, 0, 0.6);
}
.login-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    backdrop-filter: blur(20px);
}
.login-form:hover {
    box-shadow: rgba(149, 157, 165, 0.6) 0 8px 24px;
    transition: 0.5s;
}
#email {
    border: none;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
#email:hover, #password:hover {
    box-shadow: rgba(149, 157, 165, 0.6) 0 8px 24px;
    border: none;
    transform: scale(1.01);
    transition-duration: 0.2s;
}
#password {
    border: none;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
#email::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.15rem;
}
#password::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.15rem;
}
