.register-page {
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.1);
}
.register-header {
    text-shadow: 8px 3px 11px rgba(0, 0, 0, 0.6);
}
.register-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    width: 30%;
    height: auto;
    padding-top: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    backdrop-filter: blur(20px);
}
.register-form:hover {
    box-shadow: rgba(149, 157, 165, 0.6) 0 8px 24px;
    transition: 0.5s;
}
#email {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border: none;
    outline: none;
}
#password {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border: none;
    outline: none;
}
#name {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border: none;
    outline: none;
}
#email::placeholder {
    font-size: 1.15rem;
}
#password::placeholder {
    font-size: 1.15rem;
}
#name::placeholder {
    font-size: 1.15rem;
}
#email:hover, #password:hover, #name:hover {
    box-shadow: rgba(149, 157, 165, 0.6) 0 8px 24px;
    border: none;
    transform: scale(1.01);
    transition-duration: 0.2s;
}